<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/b00d1e592d.js" crossorigin="anonymous"></script>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/slide.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/formulario.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/detalhes.css') }}">


  <title>Portfólio</title>
</head>

<body>
  <header>
    <nav id="items">
      <ul>
        <li><a href="/contato" target="_self">Contato</a></li>
        <li><a href="/projetos" target="_self">Projetos</a></li>
        <li><a href="/index" target="_self">Home</a></li>
        <li>
          <a href="https://github.com/KarinPortfolio" target="_blank"><i id="github"
              class="fa-brands fa-github"></i></a>
          <a href="https://www.linkedin.com/in/karin-abe-92b34740/" target="_blank"><i id="linkedin"
              class="fa-brands fa-linkedin"></i></a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <section class="coluna">
      {% block conteudo %}

      {% endblock %}
    </section>
  </main>
  <footer>
    <hr>
    <p>Trabalho para fins didáticos baseado na aula sobre portfólio de Luiz Antonio de Souza Silva</p>
    <p>Baseado na documentação do Flask e adaptado conforme cursos da Ocean Brasil e da professora Alba Lopes. </p>
  </footer>
  <script def type="text/javascript" src="{{ url_for('static', filename='script/script.js') }}"></script>
</body>

</html>
