{% extends 'base.html'%}
{% block conteudo %}

<img class="figure" src="{{ url_for('static', filename='img/139494268.jpg') }}">
<h2><i class="fa-regular fa-face-smile-wink"></i> Sobre mim</h2>
<p>Trabalho como suporte de infraestrutura na IBM. Estudo Desenvolvimento Web na IMES e no Elas na Tech. Sou
  mãe, filha, irmã. Gosto também de ler livros, crochê, costura e jardinagem.</p>
<p>Encontrei Elas na tech num momento conturbado de luto. Desenvolvimento web era um hobby antigo que me
  trazia
  alegria nos idos anos 2000, quando as tags HTML não tinham qualquer semântica e o CSS ainda era
  incorporado na maioria dos sites. Foi uma luta aprender o tantão que mudou. </p>
<p>Agradeço à professora Juliana e às monitoras Érika e Vanessa pela paciência e dedicação com uma turma tão
  grande. Foi uma oportunidade única estar em contato com pessoas tão incríveis que estão na mesma
  busca que eu (turma 3 assíncronas).</p>
<div class="interno">
  <p id="curriculo"><a href="https://karinportfolio.github.io/curriculo/" target="_blank">
      <span class="material-symbols-outlined">
        badge
      </span> Currículo</a></p>
</div>
{% endblock %}