{% extends 'base.html'%}
{% block conteudo %}

<img class="figure" src="{{ url_for('static', filename='img/139494268.jpg') }}">
<h2><i class="fa-regular fa-face-smile-wink"></i> Sobre mim</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et ex leo. Cras ut nunc at lorem imperdiet rhoncus vel sit amet justo. Cras ac vestibulum augue, vitae placerat est. Proin dictum tortor ut diam accumsan, eget condimentum dui scelerisque. Quisque mollis turpis a purus fringilla, ultricies ultricies libero maximus. Maecenas eu ante vitae erat auctor laoreet. Vestibulum aliquam interdum molestie. Vestibulum cursus commodo maximus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam euismod erat justo, auctor consectetur risus porttitor eu. Integer ultricies dignissim dignissim.</p>
<p>Integer quis pellentesque enim. Suspendisse potenti. Curabitur at turpis pretium, aliquet ligula a, convallis tortor. Pellentesque euismod dolor id faucibus finibus. Sed in urna et diam venenatis lacinia. Donec tincidunt justo quis felis sollicitudin, ut viverra orci congue. Nullam at imperdiet felis. Aliquam quis ullamcorper quam, eget consequat enim.</p>
<p>Quisque fermentum porta arcu. Nam sit amet sapien turpis. Mauris gravida aliquet iaculis. Quisque scelerisque mattis risus id rhoncus. Aliquam erat volutpat. Nunc eu felis sit amet orci hendrerit convallis. In hac habitasse platea dictumst. Aliquam erat volutpat. </p>
<div class="interno">
  <p id="curriculo"><a href="https://karinportfolio.github.io/curriculo/" target="_blank">
      <span class="material-symbols-outlined">
        badge
      </span> Currículo</a></p>
</div>
{% endblock %}
